<!DOCTYPE html>
<html lang="en">
<head>
    <title>Signup</title>
</head>
<body>
    <h2>Signup Page</h2>
    <form method="POST">
        {% csrf_token %}
        <label>Username:</label>
        <input type="text" name="username" required><br>
        <label>Password:</label>
        <input type="password" name="password" required><br>
        <label>Re-enter Password:</label>
        <input type="password" name="confirm_password" required><br>
        <button type="submit">Signup</button>
    </form>
</body>
</html>
